<div class="ui form">
  <div class="fields">
    <div class="four wide field">
      <label>Room</label>
      <input type="text" placeholder="Room">
    </div>
    <div class="four wide field">
      <label>Date</label>
      <input type="text" placeholder="Date">
    </div>
    <div class="four wide field">
      <label>Start Time</label>
      <input type="text" placeholder="Start Time">
    </div>
    <div class="four wide field">
      <label>End Time</label>
      <input type="text" placeholder="End Time">
    </div>
  </div>
  <div id = "form_button" class="ui button">
    Submit
  </div>
  <!-- <div class="fields">
    <div class="two wide field">
      <input type="text" placeholder="2 Wide">
    </div>
    <div class="twelve wide field">
      <input type="text" placeholder="12 Wide">
    </div>
    <div class="two wide field">
      <input type="text" placeholder="2 Wide">
    </div>
  </div>
  <div class="fields">
    <div class="eight wide field">
      <input type="text" placeholder="8 Wide">
    </div>
    <div class="six wide field">
      <input type="text" placeholder="6 Wide">
    </div>
    <div class="two wide field">
      <input type="text" placeholder="2 Wide">
    </div>
  </div>
  <div class="ui submit button">Submit</div> -->
</div>
