    
<form class="ui form" id="newReservation">
  <select name="room_id">
    <option value="">Room</option>
    <option value="1">Blue</option>
    <option value="2">White</option>
    <option value="3">Red</option>
    <option value="4">Black</option>
    <option value="5">Yellow</option>
  </select>
  <p>

  </p>
  <select name="start">
    <option value="">Start Time</option>
    <option value="7">7am</option>
    <option value="8">8am</option>
    <option value="9">9am</option>
    <option value="10">10am</option>
    <option value="11">11am</option>
    <option value="12">12pm</option>
    <option value="13">1pm</option>
    <option value="14">2pm</option>
    <option value="15">3pm</option>
    <option value="16">4pm</option>
    <option value="17">5pm</option>

  </select>
  <p>

  </p>
  <select name="end">
    <option value="">End Time</option>
    <option value="8">8am</option>
    <option value="9">9am</option>
    <option value="10">10am</option>
    <option value="11">11am</option>
    <option value="12">12pm</option>
    <option value="13">1pm</option>
    <option value="14">2pm</option>
    <option value="15">3pm</option>
    <option value="16">4pm</option>
    <option value="17">5pm</option>
    <option value="18">6pm</option>

  </select>
  <p>

  </p>
    <!-- <div class="four wide field">
      <label>Date</label>
      <input type="text" placeholder="Date">
    </div> -->
    <!-- <div class="four wide field">
      <label>Start Time</label>
      <input id ="start" type="text" placeholder="Start Time">
    </div>
    <div class="four wide field">
      <label>End Time</label>
      <input id = "end" type="text" placeholder="End Time">
    </div> -->

  <input type="submit" class="ui button" value="Submit">
  <!-- <div class="fields">
    <div class="two wide field">
      <input type="text" placeholder="2 Wide">
    </div>
    <div class="twelve wide field">
      <input type="text" placeholder="12 Wide">
    </div>
    <div class="two wide field">
      <input type="text" placeholder="2 Wide">
    </div>
  </div>
  <div class="fields">
    <div class="eight wide field">
      <input type="text" placeholder="8 Wide">
    </div>
    <div class="six wide field">
      <input type="text" placeholder="6 Wide">
    </div>
    <div class="two wide field">
      <input type="text" placeholder="2 Wide">
    </div>
  </div>
  <div class="ui submit button">Submit</div> -->
</form>
